body
{
	font-family: monospace;
	color: blue;
	background: white;
	margin: 10%
} /* body */

h1
{
	color: red;
	border-bottom: 1px solid red;
} /* h1 */

/* visited link */
a:visited
{
    color: red;
}
